.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumb {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}
.m-2{
    font-weight: bolder;
    margin: 5px;
}

.breadcrumb__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 2px;
    padding: 0 40px;
    cursor: pointer;
}


.breadcrumb__item:hover {
    background: #490099;
    color: #FFF;
}


.breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);
}

.breadcrumb__title {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.staff-wrapper {
    border: 1px silver solid;
    min-width: fit-content;
}

.stl {
    text-align: center;
}